# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
.env

# Colab temporary files
*.csv
*.h5
*.pkl
.DS_Store

# System
Thumbs.db
